html {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(221, 221, 221);
}

h1 {
  font-weight: bold;
  text-align: center;
}

h2 {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.nav {
  margin: auto;
  text-align: center;
  
}

.nav ul {
  float: right;
}

.nav li {
  display: inline;
  padding: 10px;
  margin-right: 25px;
  font-weight: bold;
}

#about-me {
  display: block;
  position: relative;
  padding-left: 20px;
}

#about-me p {
  display: flex;
}

.photo {
  position: relative;
  bottom: 150px;
}

.photo img {
  height: 100%;
  width: auto;
  max-height: 400px;
  float: right;
  position: relative;
  padding-right: 20px;
}

#projects {
  padding-left: 20px;
}

#projects li {
  font-weight: bold;
  margin: 10px 0;
  padding-top: 32px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#projects p {
  font-weight: 400;
}

#projects img {
  max-height: 400px;
  width: auto;
}

#projects button {
  font-size: 22px;
  background-color: rgb(221, 221, 221);
  font-weight: bold;
  border: none;
}



#mixed-messages {
  display: none;
  padding-top: 15px;
}

#excursion {
  display: none;
  padding-bottom: 10px;
}

#rugby-club {
  display: none;
  padding-bottom: 25px;
}

#list-fix {
  position: relative;
  bottom: 34px;
}

#skills {
  position: relative;
  bottom: 25px;
  padding-left: 20px;
}


#skills ul {
  display: inline-flex;
  align-items: center;
  position: relative;
  right: 38px;
}

#skills li {
  padding-right: 40px;
  padding-top: 15px;
}

#skills img {
  max-height: 30px;
  position: relative;
  top: 8px;
}


footer {
  text-align: center;
  font-size: 14px;
}


@media only screen and (max-width: 1673px) {
  .photo img {
    height: 100%;
    width: auto;
    max-height: 400px;
    float: right;
    position: relative;
    padding-right: 20px;
    bottom: 24px;
  }
}

@media only screen and (max-width: 1512px) {
  .photo img {
    height: 100%;
    width: auto;
    max-height: 400px;
    float: right;
    position: relative;
    padding-right: 20px;
    bottom: 50px;
  }
}

@media only screen and (max-width: 1379px) {
  .photo img {
    height: 100%;
    width: auto;
    max-height: 400px;
    float: right;
    position: relative;
    padding-right: 20px;
    bottom: 80px;
  }
}

@media only screen and (max-width: 1289px) {
  .photo img {
    height: 100%;
    width: auto;
    max-height: 400px;
    float: right;
    position: relative;
    padding-right: 20px;
    bottom: 110px;
  }
}

@media only screen and (max-width: 1204px) {
  .photo img {
    height: 100%;
    width: auto;
    max-height: 400px;
    float: right;
    position: relative;
    padding-right: 20px;
    bottom: 135px;
  }
}

@media only screen and (max-width: 1146px) {
  .photo img {
    height: 100%;
    width: auto;
    max-height: 400px;
    float: right;
    position: relative;
    padding-right: 20px;
    bottom: 160px;
  }
}

@media only screen and (max-width: 1098px) {
  .photo img {
    height: 100%;
    width: auto;
    max-height: 400px;
    float: right;
    position: relative;
    padding-right: 20px;
    bottom: 190px;
  }
}

@media only screen and (max-width: 1053px) {
  .photo img {
    height: 100%;
    width: auto;
    max-height: 400px;
    float: right;
    position: relative;
    padding-right: 20px;
    bottom: 215px;
  }
}

@media only screen and (max-width: 1013px) {
  .photo img {
    height: 100%;
    width: auto;
    max-height: 400px;
    float: right;
    position: relative;
    padding-right: 20px;
    bottom: 245px;
  }
}

@media only screen and (min-width:769px) and (max-width: 993px) {
  .photo img {
    height: 100%;
    width: auto;
    max-height: 400px;
    float: right;
    position: relative;
    padding-right: 20px;
    bottom: 275px;
  }
}

@media screen and (max-width: 768px) {
  
  h2{
    text-align: center;
  }
  
  .photo img {
    display: none;
  }

  .nav {
    background-color: rgb(180, 180, 180);
  }
  .nav ul{
    float: none;
  }


  #about-me p {
    line-height: 1.85rem;
  }

  #projects ul {
    text-align: center;
  }

  #projects img {
    max-height: 250px;
  }

  #skills ul {
    text-align: center;
  }
}