html {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(221, 221, 221);
}

h1 {
  font-weight: bold;
  text-align: center;
}


.nav {
  margin: auto;
  text-align: center;
  
}

.nav ul {
  list-style-type: none;
  float: right;
}

.nav li {
  display: inline;
  padding: 10px;
  margin-right: 25px;
  font-weight: bold;
}

#about-me {
  display: block;
  position: relative;
  padding-left: 20px;
}

#about-me h2 {
  text-decoration: underline;
}

#about-me p {
  display: flex;
}

.photo {
  position: relative;
  bottom: 150px;
}

.photo img {
  height: 100%;
  width: auto;
  max-height: 400px;
  float: right;
  position: relative;
}


